<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title></title>    
</head>
<body>
    <div style="border: 1px solid silver; padding: 8px; font-family: verdana;
        font-size: 12px; color: #333333;">
        <p>
            Hello #admin#,</p>
        <p>
            A invoice has been created on date <b>#date#</b> and is due for payment.
           
            Please click <a href="#url#">here</a> to proceed with payment.
        </p>
        <p>
            --<br />
            Team j3Office
        </p>
    </div>
     <div id="Div_Main" style="padding: 5px; border: 1px solid #808080; margin: 10px; font-family: Verdana;
        font-size: 11px; width: 600px;">
        <div style="padding: 10px; height: 105px;">
            <div style="float: left; font-family: 'Copperplate Gothic Bold'; font-size: xx-large; color: #800000; margin-top: 35px;">
                j3 Office Invoice
            </div>
            <div style="float: right;">
                <!--<img width="100px" height="100px" src="http://j3Office.dealopia.com/Styles/img/Paid.png" />-->
            </div>
        </div>
        <div style="display: block; margin-top: 10px; margin-bottom: 10px;">
            <table cellspacing="2" cellpadding="2" style="background-color: #CCCCCC; padding: 2px;" width="100%">
                <tr>
                    <td>
                        <b>INVOICE #invoicenumber#</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        Invoice Date: #invoicedate#
                    </td>
                </tr>
            </table>
        </div>
        <div style="display: block; margin-top: 10px; margin-bottom: 10px;">
            <table cellspacing="2" cellpadding="2" width="100%">
                <tr>
                    <td>
                        <b>Invoiced To</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        #name#
                    </td>
                </tr>
                <tr>
                    <td>
                        #address#
                    </td>
                </tr>
                </table>
        </div>
        <div style="display: block; margin-top: 10px; margin-bottom: 10px;">
            <table cellspacing="0" cellpadding="0" width="100%" style="border: 1px solid #808080">
                <tr>
                    <td width="50%" style="text-align: right; background-color: #CCCCCC; padding: 5px;">
                        &nbsp;</td>
                    <td width="25%" style="background-color: #CCCCCC; padding: 5px;">
                    </td>
                    <td width="25%" style="background-color: #CCCCCC; padding: 5px;">
                        &nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3" style="width: 75%"  align="center">
                        #griddata#</td>
                </tr>
                <tr>
                    <td width="50%" style="background-color: #CCCCCC; padding: 5px;">
                        &nbsp;
                    </td>
                    <td width="25%" align="right" style="background-color: #CCCCCC; padding: 5px;">
                        Sub Total&nbsp;
                    </td>
                    <td width="25%" style="background-color: #CCCCCC; padding: 5px;">
                        <b>$#total# USD</b>
                    </td>
                </tr>
                <tr>
                    <td width="50%" style="background-color: #CCCCCC; padding: 5px;">
                        &nbsp;
                    </td>
                    <td width="25%" align="right" style="background-color: #CCCCCC; padding: 5px;">
                        Credit&nbsp;
                    </td>
                    <td width="25%" style="background-color: #CCCCCC; padding: 5px;">
                        <b>$ 0.00 USD</b>
                    </td>
                </tr>
                <tr>
                    <td width="50%" style="border-style: solid none none none; background-color: #CCCCCC;
                        padding: 5px; border-top-width: 1px; border-top-color: #808080;">
                        &nbsp;
                    </td>
                    <td width="25%" align="right" style="background-color: #CCCCCC; padding: 5px; border-style: solid none none none;
                        background-color: #CCCCCC; padding: 5px; border-top-width: 1px; border-top-color: #808080;">
                        Total&nbsp;
                    </td>
                    <td width="25%" style="background-color: #CCCCCC; padding: 5px; border-style: solid none none none;
                        background-color: #CCCCCC; padding: 5px; border-top-width: 1px; border-top-color: #808080;">
                        <b>$#total# USD</b>
                    </td>
                </tr>
            </table>
        </div>
        <div style="display: block; margin-top: 10px; margin-bottom: 10px;">
        </div>
        <div style="display: block; margin-top: 10px; margin-bottom: 10px;">
        </div>
    </div> 
</body>
</html>
