<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>

    <section name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection" requirePermission="false" allowLocation="true" />
  </configSections>
  <uri>
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <authorization>
      <deny users="?" />
      <!-- Deny all anonymous -->
    </authorization>
    <authentication mode="Forms">
      <!-- Enable FormsAuthentication-->
      <!-- Set the Endpoint as your login page-->
      <forms loginUrl="AuthenticationEndPoint.aspx" path="/" requireSSL="false" />

    </authentication>
  </system.web>
  <!-- Grant access to this page to everyone -->
  <location path="AuthenticationEndPoint.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Mainform.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="js/jquery-1.7.2.min.js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="oauth2callback.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="AuthenticationEndpoint.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>